<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Libros</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName+' '+author.lastName}"> Spring in Action</td> //Concatenar valores con comilla simple
        <td th:text="${author.getBooks().size()}">Wrox</td>
    </tr>
</table>

</body>
</html>